<h2><%=@room.name%></h2>  

<h3>These are the suggestion for Lunch!!</h3>
<div class="row">
	<% @room.lunches.each do |l| %>
		<div class="col-sm-6 col-md-4">
		    <div class="thumbnail">
		      <div class="caption">
		        
				<p>I would like to go to <%=l.name%> for lunch</p>
				<p>Time <%=l.time%>
				<p>Date <%=l.date%>	
					
					<p><%= l.votes_count %></p>
		        
		        	<%= link_to 'Upvote', lunch_up_vote_path(:room_id => @room.id,:id =>l)%>

		         	<%= link_to 'Downvote', lunch_down_vote_path(:room_id => @room.id,:id =>l)%>
		        <%= link_to 'Delete',room_lunch_path(@room,l.id),method: :delete, data: { confirm: 'Are you sure?' } %>

		      </div>
		    </div>
		</div>
	<% end %>
</div>
<ul>
	<li><%= link_to "Lunch suggestion", new_room_lunch_path(@room.id) %></li>
	<li><%= link_to "Room list", rooms_path%></li>

</ul>