<!DOCTYPE html>
<html>
<head>
  <title>Lunchvote</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<nav class="navbar navbar-inverse" role="navigation">
  <div class="container-fluid">

    <div class="navbar-header">
      <div class="navbar-brand"><%= link_to 'LunchVote', root_path%></div>
    </div>
    
      <ul class="nav navbar-nav">

        <li class="active"><%=link_to "Create a New Room", new_room_path %></li>
        <li><%= link_to 'Go to an existing room', rooms_path%></li>
      </ul>
      
        <ul class="nav navbar-nav navbar-right">
        	<% if !current_user %>
  	        <li><%= link_to "Sign Up", new_user_path%></li>
  	        <li><%= link_to "Sign in", new_sessions_path%></li> 
            <% else %>
            <li>Hello, <%= current_user.name%></li>
          	<li><%= link_to "Sign out", sessions_path, :method => :delete %></li>
            <%end%>
        </ul>
     <!--nav bar collapse-->
  </div><!-- /.container-fluid -->
</nav>
<div class="container-fluid">
  <% flash.each do |key, value| %>
    <div class="alert alert-<%= key %>"><%= value %></div>
  <% end %>
  <%= yield %>
</div>

</body>
</html>
